<div class="container">
  <div class="form-all rounded-5 shadow">
    <div class="bg-img-sign rounded-5">
      <h2>Modifier la description</h2>
      <p> Votre outil</p>
    </div>
    <div class="form-input">

      <%= simple_form_for @tool do |f| %>
        <%= f.input :name %>
        <%= f.input :price%>
        <%= f.input :description%>
        <%= f.input :address%>
        <%= f.input :photo, as: :file %>
        <%= f.submit "Valider les modifications", class: "button-form" %>
      <% end %>

    </div>
  </div>
</div>
