   <div class="containergrid">
    <% @tools.each do |tool| %>
      <%= link_to tool, class:"p-0" do  %>
        <div class="card-trip ">
          <%= image_tag tool.photo %>
          <div class="card-trip-infos">
            <div>
              <h2> <%= tool.name %></h2>
                <p> <%= tool.description %></p>
            </div>
          <h2 class="card-trip-pricing"> <%= tool.price %> € </h2>
        </div>
      </div>
      <% end  %>
    <% end %>
  </div>

