<div class="banner mb-5">
  <img src="<%= asset_path('banniere.jpg') %>" alt="Bannière" class="banner-image">
   <div class="banner-text kiloutools-nav">
    <p>LOUEZ VOS OUTILS PRÈS DE CHEZ VOUS !</p>
  </div>
</div>

   <div class="containergrid">
    <% @tools.each do |tool| %>
      <%= link_to tool, class:"p-0 text-decoration-none" do  %>
        <div class="card-trip ">
          <%= cl_image_tag tool.photo.key %>
          <div class="card-trip-infos">
            <div>
              <h2> <%= tool.name %></h2>
                <p> <%= tool.description %></p>
            </div>
            <h2 class="card-trip-pricing"><%= tool.price %>€</h2>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
