<div class="container">
  <div class="form-all rounded-5 shadow">
    <div class="bg-img-sign rounded-5">
      <h2>Créer une nouvelle annonce</h2>
      <p>Louer vite et bien avec Kiloutools</p>
    </div>
    <div class="form-input">
       <%= simple_form_for @tool do |f| %>
        <%= f.input :name, placeholder: "Nom de l'outil" %>
        <%= f.input :price, placeholder: "prix en €" %>
        <%= f.input :description, placeholder: "Informations supplémentaires" %>
        <%= f.input :localisation, placeholder: "Adresse"%>
        <%= f.input :photo, as: :file, placeholder: "Uploader une photo" %>
        <%= f.submit "Publier l'annonce", class: "button-form" %>
      <% end %>
    </div>
  </div>
</div>
