<div class="container">
  <div class="form-all rounded-5 shadow">
    <div class="bg-img-sign rounded-5">
      <h2>Créez votre nouvel annonce</h2>
      <p>Louer plus vite, gagner plus vite</p>
    </div>
    <div class="form-input">
       <%= simple_form_for @tool do |f| %>
        <%= f.input :name, placeholder: "Nom de l'outil" %>
        <%= f.input :price, placeholder: "prix en €" %>
        <%= f.input :description, placeholder: "Informtions supplémentaires" %>
        <%= f.input :localisation, placeholder: "Votre adresse"%>
        <%= f.input :photo, as: :file, placeholder: "Votre photo" %>
        <%= f.submit "Publier l'annonce", class: "button-form" %>
      <% end %>
    </div>
  </div>
</div>
