
<%# SHOW DU LOCATAIRE  %>

    <div class="container">
        <div class="card-product rounded-5 shadow row">
          <div class="col-6 left-side p-0" > <%= image_tag @tool.photo, class: "img-size rounded-5" %> </div>

          <div class="col-6 p-4">
            <h1 class="tool-title"><%= @tool.name %></h1>


            <div class="tool-details">
              <p><strong>Prix :</strong> <%= number_to_currency(@tool.price, unit: "€") %></p>
              <p><strong>Description :</strong> <%= @tool.description %></p>
              <p><strong>address :</strong> <%= @tool.address %></p>
            </div>

<br>

              <div class="d-flex justify-content-around" >
                <div class="tool-actions">
                  <%= button_to "Reserver",  root_path, class: "btn btn-reserve" %>
                </div>


                <div class="back-button">
                  <%= link_to "Retour à la liste", root_path, class: "btn btn-secondary" %>
                </div>
              </div>

          </div>
        </div>
      </div>
